* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}


/******************** first section start *****************/
.first-section {
    height: 100vh;
    width: 100%;
    padding-top: 1rem;
    background-image: linear-gradient(rgba(0, 168, 255, 0.3), rgba(0, 168, 255, 0.3)), url("https://images.unsplash.com/photo-1492138786289-d35ea832da43?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29yayUyMHRhYmxlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0%, 100% 79%, 50% 95%, 0% 79%, 0% 0%);
    position: relative;
}

.first-section .navbar a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 0.3;
}

.header-content {
    height: 93.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    color: white;
}

.header-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.header-content p {
    font-size: 2rem;
}

.header-btns a {
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

.header-btns a:hover {
    background-color: white;
    color: rgb(12, 227, 255);
    box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.418);
}

/******************** first section end *****************/

/******************** second section start *****************/
.second-section {
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.section-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.2s linear;
    padding-top: 1rem;
}

.section-card i {
    font-size: 3rem;
    color: rgb(12, 227, 255);
}

.second-section h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section-card:hover {
    transform: translateY(-1rem);
    box-shadow: 2px 2px 0.3rem black;
}

/******************** second section end *****************/

/******************** third section start *****************/
.third-section {
    width: 100%;
    height: 100%;
}

.third-section h2 {
    text-transform: uppercase;
    text-align: center;
}

.third-section .left-box p {
    margin-bottom: 0px;
    text-transform: uppercase;
}

.third-section .bg-color>p {
    text-align: center;
    margin-bottom: 3rem;
}

.left-box {
    width: 40%;
}

.left-box .progress {
    margin-bottom: 1rem;
}

.right-box {
    width: 40%;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box i {
    font-size: 2rem;
    color: rgb(12, 227, 255);
}

.right-box h3 {
    font-size: 1rem;
}

.right-box p {
    font-size: 0.8rem;
}

.third-section .bg-color {
    background-color: rgb(243, 243, 243);
    padding: 5rem 0px;
}

/******************** third section end *****************/

/******************** fourth section start *****************/
.fourth-section {
    height: auto;
    width: 100%;
    padding: 5rem 0px;
}

.fourth-section h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.row-projects div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-projects div p:first-child {
    font-size: 2rem;
    margin-bottom: 0px;
}

/******************** fourth section end *****************/

/******************** fifth section start *****************/
.fifth-section {
    position: relative;
    height: 100vh;
    width: 100%;
    place-content: center;
}

.fifth-section::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(155deg, rgb(12, 227, 255) 55%, white 45%);
}

.best-price h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: white;
}

.best-price .card {
    transition: all 0.3s linear;
}

.best-price .card-header {
    font-size: 2rem;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
}

.best-price .card-body {
    line-height: 2rem;
}

.best-price .card-body ul li:first-child {
    align-items: baseline;
}

.best-price .card-body ul li:first-child span {
    font-size: 2rem;
}

.btn-purchase {
    border: 2px solid #50d1c0;
    font-weight: 400;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #50d1c0;
}

.best-price .card-footer {
    background-color: transparent;
    padding: 1rem 0;
}

.best-price .card:hover {

    .card-header {
        color: #50d1c0;
    }

    .card-body ul li:first-child span {
        color: #50d1c0;
    }

    .btn-purchase {
        background-color: #50d1c0;
        color: white;
        box-shadow: 1px 1px 3px black;
    }

    transform: translateY(-10px);

}

/******************** fifth section end *****************/

/******************** sixth section start *****************/
.sixth-section {
    height: 100vh;
    width: 100%;
    align-content: center;
}

.container {
    text-align: center;
}

.sixth-section .container h3 {
    text-transform: uppercase;
}

.sixth-section .container>p {
    text-transform: capitalize;
}

.card-image {
    position: relative;
}

.card-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 1.5rem;
    outline: 1px solid gray;
    padding: 2pX;
}

.card-image::after {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    left: 55%;
    top: 70%;
    border-radius: 50%;
    color: white;
    padding: 0.4rem 0.5rem;
    background-image: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.sixth-section .card-body>p:first-child {
    margin: 2rem 0;
}

.carousel-control-prev {
    filter: invert(1);
}

.carousel-control-next {
    filter: invert(1);
}

.carousel-indicators {
    position: absolute !important;
    bottom: -80px;
    filter: invert(1);
}

/******************** sixth section end *****************/

/******************** seventh section start *****************/
.seventh-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(155deg, rgb(12, 227, 255) 55%, white 45%);
    align-content: center;
}

.seventh-section .container h4 {
    text-transform: uppercase;
}

.seventh-section .container p {
    margin-bottom: 2rem;
}

.form-btn {
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    margin: 1rem 0.5rem;
}

.seventh-section .container:hover .form-btn {
    background-color: white;
    color: rgb(12, 227, 255);
    box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.418);
}

/******************** seventh section end *****************/

/******************** footer section start *****************/
footer {
    height: 100vh;
    width: 100%;
}

.newsletter-section {
    height: 40%;
    align-content: center;
}

.newsletter-section h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
}

.newsletter-section .form-control {
    border-radius: 2rem 0 0 2rem !important;
}

.newsletter-section .input-group-text {
    border-radius: 0 2rem 2rem 0 !important;
    background-color: #50d1c0;
    color: white;
}

.footer-content {
    height: 60%;
    align-content: center;
    background-color: rgb(122, 122, 255);
    color: white;
}

.footer-content h5 {
    text-transform: uppercase;
}

.footer-content .form-control {
    border-radius: 2rem 0 0 2rem !important;
}

.footer-content .input-group-text {
    border-radius: 0 2rem 2rem 0 !important;
    background-color: #50d1c0;
    color: white;
}

.footer-content .copyright {
    margin-top: 1rem;
}


/******************** footer section end *****************/

/******************** Media query start *****************/
@media screen and (max-width: 576px) {

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content p {
        font-size: 1.3rem;
    }

    .header-btns a {
        padding: 1rem 2rem;
        font-size: 1rem;
        margin: 0 0.3rem;
    }
    /******************** first section end *****************/
    .section-card i {
        font-size: 1.7rem;
    }

    .second-section h2 {
        font-size: 1.2rem;
    }
    /******************** second section end *****************/
    .offer-section {
        display: flex;
    }

    .third-section {
        width: 100%;
        height: 100%;
    }
    
    .third-section h2 {
        text-transform: uppercase;
        text-align: center;
    }
    
    .third-section .left-box p {
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    
    .third-section .bg-color>p {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .left-box {
        width: 40%;
    }
    
    .left-box .progress {
        margin-bottom: 1rem;
    }
    
    .right-box {
        width: 40%;
    }
    
    ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .right-box i {
        font-size: 2rem;
        color: rgb(12, 227, 255);
    }
    
    .right-box h3 {
        font-size: 1rem;
    }
    
    .right-box p {
        font-size: 0.8rem;
    }
    
    .third-section .bg-color {
        background-color: rgb(243, 243, 243);
        padding: 5rem 0px;
    }


    /******************** third section end *****************/





}

@media screen and (min-width:576px) and (max-width:992px) {

    .header-content h1 {
        font-size: 2.5rem;
    }

    .header-content p {
        font-size: 1.5rem;
    }

    .header-btns a {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        margin: 0 0.3rem;
    }
    /******************** first section end *****************/

    .section-card i {
        font-size: 2.5rem;
    }

    .second-section h2 {
        font-size: 1.5rem;
    }
    /******************** second section end *****************/

    .third-section {
        width: 100%;
        height: 100%;
    }
    
    .third-section h2 {
        text-transform: uppercase;
        text-align: center;
    }
    
    .third-section .left-box p {
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    
    .third-section .bg-color>p {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .left-box {
        width: 40%;
    }
    
    .left-box .progress {
        margin-bottom: 1rem;
    }
    
    .right-box {
        width: 40%;
    }
    
    ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .right-box i {
        font-size: 2rem;
        color: rgb(12, 227, 255);
    }
    
    .right-box h3 {
        font-size: 1rem;
    }
    
    .right-box p {
        font-size: 0.8rem;
    }
    
    .third-section .bg-color {
        background-color: rgb(243, 243, 243);
        padding: 5rem 0px;
    }

    /******************** third section end *****************/



}

@media screen and (min-width:992px) {}

/******************** Media query end *****************/